body{
  background-color: #c06c84;
}
hr{
  background-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
.profile{
  border-radius: 100px;
}

.circular{

  border-radius: 100px;
}
